
h1.jqbrick {
    .whiteHighlight;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 40pt;
    
    small {
        display:block;
        margin-top: 20px;
        letter-spacing: 2px;
        color: #fafafa;
        font-family: monospace;
        text-shadow: -1px -1px 0 #888, 1px -1px 0 #888, 0 1px 0 #666, 0 2px 0 #666;
        font-variant: small-caps;
        text-transform: lowercase;
        font-size: 40pt;
        border-top:1px solid #aaa;
        
        &:before {
            content: ' ';
            display:block;
            border-top: 1px solid #fff;
        }
    }
}

p.jqbrick-hint {
    .whiteHighlight;
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin: 0;
}
