/**
 * PoliteJS Worspace - Single Page App Builder
 * ===========================================
 *
 * The following comment (FEATURES) is a placeholder for `src/features` less
 * source inclusion instructions which are automagically created by Workspace
 *
 * If you remove it then you are responsible of loading all LESS files for
 * each feature.
 */

/*FEATURES*/

@import url(http://fonts.googleapis.com/css?family=Exo+2:100);

body {
    width: 100%;
    height: 100%;
    padding-top:10%;
    font-family: verdana;
    background-image: url(assets://img/pattern-89ds.png);
}

.whiteHighlight() {
    text-shadow: 0 1px 0 #fff;
}

